<footer>
    <div class="footer-logo">
      <img src="https://i.ibb.co/C8372Y7/Untitled-design-39.png" alt="Fanatics Auto Studio" />
    </div>
    <address>
      149, Justice Rathinavel Pandian Rd, Golden George Nagar, Nerkundram,
      Chennai, Tamil https://i.ibb.co/C8372Y7/Untitled-design-39.pngNadu 600107
    </address>
    <div class="contact">
      <h1><i class="fa-solid fa-phone"></i></h1>  
      <p>CALL US @</p>
      <a href="tel:+919677146666" style="font-size: 25px;color: #fdd835;font-weight: 700;">+91 9677146666</a>
    </div>
    <div class="links">
      <p>LINKS</p>
      <a href="#">Home</a>
      <a href="#">Products</a>
      <a href="#">Approval Process</a>
    </div>
    <div class="socials">
      <p>SOCIALS</p>
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-regular fa-envelope"></i></a>
    </div>
</footer>