<footer>
  <div class="footer-hero">
    <svg width="400" height="100" xmlns="http://www.w3.org/2000/svg">
      <!-- Background with slanted edge -->
      <polygon points="50,0 400,0 400,60 350,100 0,100 0,40 " fill="black" stroke="red" stroke-width="8" />
      <text x="80" y="60" font-family="Poppins" font-size="30" font-weight="600" fill="white">FIND OUR STORE</text>
    </svg>

    <svg width="400" height="100" xmlns="http://www.w3.org/2000/svg">
      <!-- Background with slanted edge -->
      <polygon points="50,0 400,0 400,60 350,100 0,100 0,40 " fill="black" stroke="red" stroke-width="8" />
      <text x="100" y="60" font-family="Poppins" font-size="30" font-weight="600" fill="white">ORDER NOW</text>
    </svg>
  </div>


  <div class="footer-hero-mobile">
    <svg width="350" height="100" xmlns="http://www.w3.org/2000/svg">
      <!-- Background with slanted edge -->
      <polygon points="50,0 350,0 350,60 300,100 0,100 0,40 " fill="black" stroke="#e914149f" stroke-width="8" />
      <text x="70" y="60" font-family="Poppins" font-size="25" font-weight="600" fill="white">FIND OUR STORE</text>
    </svg>

    <svg width="350" height="100" xmlns="http://www.w3.org/2000/svg">
      <!-- Background with slanted edge -->
      <polygon points="50,0 350,0 350,60 300,100 0,100 0,40 " fill="black" stroke="#e914149f" stroke-width="8" />
      <text x="70" y="60" font-family="Poppins" font-size="25" font-weight="600" fill="white">FIND OUR STORE</text>
    </svg>
    
  </div>

  <div class="footer-link-section">
    <h1 id="logo">CARPRO</h1>
    <div class="footer-links">
      <h1><a href="">PRODUCTS</a></h1>
      <p><a href="">ALL PRODUCTS</a></p>
      <p><a href="">PPF</a></p>
      <p><a href="">CERAMIC COATING</a></p>
      <p><a href="">WRAPS</a></p>
      <p><a href="">WASHING SUPPLIES</a></p>
    </div>

    <div class="footer-links">
      <h1><a href="">ABOUT</a></h1>

    </div>

    <div class="footer-links">
      <h1><a href="">SUPPORT</a></h1>
    </div>
  </div>



</footer>




<!--

<footer>
    <div class="footer-logo">
      <img src="https://i.ibb.co/C8372Y7/Untitled-design-39.png" alt="Fanatics Auto Studio" />
    </div>
    <address>
      149, Justice Rathinavel Pandian Rd, Golden George Nagar, Nerkundram,
      Chennai, Tamil https://i.ibb.co/C8372Y7/Untitled-design-39.pngNadu 600107
    </address>
    <div class="contact">
      <h1><i class="fa-solid fa-phone"></i></h1>  
      <p>CALL US @</p>
      <a href="tel:+919677146666" style="font-size: 25px;color: #fdd835;font-weight: 700;">+91 9677146666</a>
    </div>
    <div class="links">
      <p>LINKS</p>
      <a href="#">Home</a>
      <a href="#">Products</a>
      <a href="#">Approval Process</a>
    </div>
    <div class="socials">
      <p>SOCIALS</p>
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-regular fa-envelope"></i></a>
    </div>
</footer>

-->